*/**/.env
*/**/.env.local
*/.env
.env
__pycache__
extensions/__pycache__
/transcribler/node_modules
/transcribler/package-lock.json
transcribler/package-lock.json
/transcribler-backend/node_modules
/transcribler-frontend/.vite
